@()(implicit request: play.api.mvc.Request[AnyContent])

@main("Home") {

  <script type="text/x-handlebars">
    <div class="row top-bg">
        <div class="col-xs-12" style="color: #FFF; margin: 25px;">
            {{#link-to 'index'}}Start{{/link-to}}
        </div>
        <div class="start">
            <h1>Request Bin</h1>
            <br>
            {{#link-to 'monitor'}}Start Request bin{{/link-to}}
            <br>
            <br>
            <p>
                RequestBin gives you a URL that will collect requests made to it and let you inspect them in a human-friendly way.<br>
                Use RequestBin to see what your HTTP client is sending or to inspect and debug webhook requests.
            </p>
        </div>
    </div>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">

  </script>

  <script type="text/x-handlebars" data-template-name="monitor">

    <div class="row">
        <div class="col-xs-2 request-menu">
            <ul class="list-unstyled">
                {{#each}}
                    <li>{{#link-to 'request' this}}{{name}}{{/link-to}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <h1>{{sessionid}}</h1>
                <a href="/listen/{{unbound sessionid}}" target="_blank">Listener</a>
            </div>
            <div class="row">
                {{outlet}}
            </div>
        </div>

    </div>

  </script>

  <script type="text/x-handlebars" data-template-name="request">
    <div style="border: 1px solid #000; padding: 10px;">
        {{#each headers}}
            {{name}} {{value}} <br>
        {{/each}}
    </div>
    <div style="border: 1px solid #000; padding: 10px;">
        {{body}}
    </div>
  </script>


}